  body {
    font-family: 'Ropa Sans', sans-serif;
    color: #333;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
  }

  #video {
    width: 100%;
  }

  #canvas {
    display: none;
  }

  #outputMessage {
    padding-bottom: 10px;
    word-wrap: break-word;
  }